@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url(ejercicios_estilo.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --azul_oscuro:#161A30;
    --beige_claro:#F0ECE5;
    --gris:#b1b3c9;
}
@media (max-width: 1320px) {
    .contenido{
        text-align: center;
    }
    .contenido__texto--tamano_letra{
        text-align: center;
    }
}
body{
    background-color: var(--azul_oscuro);
}
/* ESTILOS DEL LISTADO DE EJERCICIOS */
.content_lista{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 2vw;
    gap: 10px;
}
.lista__item{
    list-style: none;
    background-color: var(--beige_claro);
    position: relative;
    border-radius: 12px;
    z-index: 2;
}
.lista__item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--gris);
    border-radius: 12px;
    transition: width 0.3s;
    z-index: -1;
}
.lista__item:hover:before{
    width: 100%;
}
.lista__enlace{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    text-decoration: none;
    color: var(--azul_oscuro);
    border-radius: 5px;
}